body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

/* Typography */

h1 {
  font-size: 2.5rem;
  font-family: 'Alfa Slab One', serif;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 4rem;
    
  }

  h2 {
    text-align: auto;
    font-size: 2rem;
  }

  h3 {
    margin-top: 0;
    font-size: 1.8rem;
  }
}

h2 {
  font-size: 1.75rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
}

h3 {
  font-size: 1.4rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  color: #00A4FF;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 2rem;
}

h4 {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 500;
  margin-block-start: 0;
  margin-block-end: 0;
}

p, ul {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin-block-start: 0;
    margin-block-end: 0;
}

a { 
  color: #00A4FF;
}

a:hover {
  color: #0072B1;
}

ul {
  padding-inline-start: 20px;
  list-style-type: circle;
  max-width: 85%;
}

.white-text {
  color: #fff;
}

/* Spacing and Positioning Classes */

.full-height {
  height: 100%;
}

.full-width { 
 width: 100%;
}

.full-size {
 height: 100%;
 width: 100%;
}

.top-spacer-small {
 padding-top: 0.5rem;
}

.top-spacer {
 padding-top: 1rem;
}

.top-spacer-large {
 padding-top: 1.5rem;
}

.bottom-spacer-small {
 padding-bottom: 0.5rem;
}

.bottom-spacer {
 padding-bottom: 1rem;
}

.bottom-spacer-large {
 padding-bottom: 1.5rem;
}

.right-spacer-small {
 padding-right: 0.5rem;
}

.right-spacer {
 padding-right: 1rem;
}

.right-spacer-large {
 padding-right: 1.5rem;
}

.left-spacer-small {
 padding-left: 0.5rem;
}

.left-spacer {
 padding-left: 1rem;
}

.left-spacer-large {
 padding-left: 1.5rem;
}

.no-margins {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.no-padding {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

/* Global Containers */
.content-container {
  padding: 2rem;
}

@media screen and (min-width: 900px) {
  .content-container {
    padding: 2rem 8rem;
  }
}

.heroContainer {
  height: 100vh;
}

.MuiLinearProgress-colorPrimary.MuiLinearProgress-determinate {
  background-color: rgba(0, 164,	255, 0.4);
  height: 1rem;
  border-radius: 4px;
  width: 100%;
}

.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate {
  background-color: #00A4FF;
}

@media screen and (min-width: 900px) {
  .MuiLinearProgress-colorPrimary.MuiLinearProgress-determinate {
    width: 75%;
  }
}

.footer {
  padding: 1rem 0;
}